body {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: center; /* Centra horizontalmente los elementos */
    background-color: rgb(52, 149, 240);
    height: 100vh; /* Altura completa de la ventana */
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    flex-direction: column;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: row; /* Alineación horizontal de los elementos */
    justify-content: center; /* Centra horizontalmente los elementos dentro del contenedor principal */
    width: 90%; /* Anchura del contenedor principal */
    margin-top: 20px;
}

.sidebar {
    width: 30%; /* Anchura del sidebar */
    margin-right: 20px; /* Margen derecho para separar el sidebar del contenedor de notas */
    padding: 20px; /* Espaciado interior del sidebar */
    background-color: rgb(194, 36, 241);
    border-radius: 10px;
}

  
  .input-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }

  #search-input {
    width: 400px;
    height: 40px;
    font-size: 1.2rem;
    border-radius: 12px;
  }
  
  #input-todo {
    width: 300px;
    height: 30px;
    font-size: 1.2rem;
    border-radius: 12px;
  }
  #input-descrip {
    width: 300px;
    height: 30px;
    font-size: 1.2rem;
    border-radius: 12px;
  }

  #input-fecha {
    width: 300px;
    height: 30px;
    font-size: 1.2rem;
    border-radius: 12px;
  }
  
  #add-todo {
    width: 190px;
    height: 40px;
    border-radius: 8px;
    background-color: rgb(26, 221, 52);
    font-size: 1.5rem;
    cursor: pointer;
  }

  #search-button{
    width: 190px;
    height: 40px;
    border-radius: 8px;
    background-color: rgb(12, 235, 205);
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .todo-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 70%; /* Anchura del contenedor de notas */
    background-color: rgb(19, 21, 173);
    border-radius: 10px;
    padding: 20px; /* Espaciado interior del contenedor de notas */
    overflow-y: auto; /* Desplazamiento vertical automático si el contenido excede el área visible */
    max-height: 70vh; /* Altura máxima del contenedor de notas */
}


  .todo-container::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}

.todo-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Color del pulgar de la barra de desplazamiento */
    border-radius: 5px; /* Radio de borde del pulgar de la barra de desplazamiento */
}

.todo-container::-webkit-scrollbar-track {
    background-color: transparent; /* Color de fondo de la barra de desplazamiento */
}

/* Estilos adicionales para los elementos de entrada */
input[type="text"] {
    width: calc(100% - 22px); /* Ancho del input */
    height: 30px; /* Altura del input */
    margin-bottom: 10px; /* Margen inferior entre los inputs */
    padding: 5px; /* Espaciado interior del input */
    border: 1px solid #ccc; /* Borde del input */
    border-radius: 5px; /* Radio de borde del input */
}

button[type="submit"] {
    width: calc(100% - 22px); /* Ancho del botón */
    height: 40px; /* Altura del botón */
    margin-top: 10px; /* Margen superior entre el botón y los inputs */
    background-color: rgb(26, 221, 52); /* Color de fondo del botón */
    border: none; /* Sin borde */
    border-radius: 8px; /* Radio de borde del botón */
    font-size: 1rem; /* Tamaño de la fuente del botón */
    cursor: pointer; /* Cambio de cursor al pasar por encima del botón */
}




  
  .todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(228, 169, 61);
    border-radius: 10px;
    font-size: 1.25rem;
  }
  
  .todo-info {
    margin-left: 5px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center; 
  }

  .todo-completed {
    margin-right: 10px; /* Agrega margen entre el checkbox y los detalles */
    width: 30px;
    height: 25px;
}

.todo-details {
    flex-grow: 8; /* Hace que los detalles ocupen todo el espacio disponible */
}

.todo-titulo,
.todo-descrip,
.todo-fecha {
    margin: 0; /* Elimina el margen predeterminado de los párrafos */
}

.todo-completed {
    margin-right: 150px; /* Ajusta el margen del checkbox */
}
  
  .todo-btn {
    margin-right: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .todo-btn > button {
    font-family: monospace;
    border: none;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 10px;
    color: white;
    cursor: pointer;
  }
  
  .todo-edit {
    background-color: green;
  }
  
  .todo-delete {
    background-color: red;
  }
  
  .modal-background {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* overflow: auto; */
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal {
    background-color: white;
    border-radius: 25px;
    margin: 10% auto 0;
    padding: 10px 20px 30px 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centramos horizontalmente */
  }
  
  .modal-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Ajustamos el ancho para que ocupe todo el espacio disponible */
    margin-bottom: 20px; /* Espacio entre la parte superior y el contenido */
  }
  
  .close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .modal-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  #edit-todo-name {
    width: 250px;
    height: 25px;
    font-size: 1.2rem;
  }
  
  #save-todo {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    width: 75px;
    height: 40px;
    font-size: 1.25rem;
    border-radius: 20px;
  }
  
  #edit-todo-completed-wrapper {
    font-size: 1.2rem;
  }